@media (orientation: portrait) and (max-width: 320px) {
  h1 {
    font-size: 30px;
    margin: 0;
    padding-bottom: 0px;
  }
  h2 {
    font-size: 20px;
    margin: 0;
    padding-bottom: 0px;
  }
}

@media (orientation: landscape) and (max-width: 568px) {
  h1 {
    font-size: 30px;
    margin: 0;
    padding-bottom: 0px;
  }
  h2 {
    font-size: 20px;
    margin: 0;
    padding-bottom: 0px;
  }
}
